.discord-bg{
    background-color: #000;
    width: 100vw;
    height: 100vh;
    display: flex;
   
    background-size: cover;
    background-repeat: no-repeat;
    align-content: center;
    justify-content: center;
    align-items: center;
}